<div style="display: flex; justify-content: space-between;">
  <div><h2>Insert range date</h2>
<table style="border: 1px solid black; width: 190px;">
  <tr><td><button style="min-width: 60px;" (click)="isShownFrom = !isShownFrom" [disabled]="isShownTo">From</button></td><td>{{from}}</td></tr>
  <tr><td><button style="min-width: 60px;" (click)="isShownTo = !isShownTo" [disabled]="isShownFrom">To</button></td><td>{{to}}</td></tr>
</table>
  </div>

<div><app-calendar  (chosenDate)="getFrom($event)" [@myInsertRemoveTrigger] *ngIf="isShownFrom"></app-calendar>
  <app-calendar (chosenDate)="getTo($event)"  @myInsertRemoveTrigger *ngIf="isShownTo"></app-calendar>
</div>

</div>
